<div class="broadcast__popup popup">
    <div class="popup__image_type_{{type}} popup__image"></div>
    <div class="popup__format popup__format_type_{{type}}"></div>
    <div class="popup__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias animi, cupiditate ducimus et itaque mollitia ut voluptas voluptate? Beatae consectetur esse est facilis iure iusto libero minima, mollitia necessitatibus nisi, non obcaecati praesentium, qui saepe suscipit velit voluptate? Aliquid amet blanditiis consectetur doloremque ducimus earum exercitationem iste laborum minus nemo quae quas sint sit sunt temporibus voluptas, voluptate. Asperiores!</div>
</div>