.header
{
  background: $white;
  height: 200px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  @include middle{
    height: 130px;
  }
  @include small{
    height: 85px;
  }
}
#switch1:checked ~ * .broadcast{
  color: gainsboro;
}
#switch1:checked ~ * .broadcast_type_movie{
  color: $color_movie
}
