.header
{
  background: $white;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
}
#switch1:checked ~ * .broadcast{
  color: gainsboro;
}
#switch1:checked ~ * .broadcast_type_movie{
  color: $color_movie
}
