<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
    <title>Мои Блоки</title>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek,greek-ext,cyrillic-ext,latin-ext,vietnamese,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/dist/style.css">
    <link rel="stylesheet" href="/node_modules/hamburgers/dist/hamburgers.min.css">
</head>
<body>
    {{> header}}
    <div class="slider">
        <div class="slider__item slider__item_day_monday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_tuesday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_wednesday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_thursday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_friday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_saturday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_day_sunday">
            <div class="container">
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_1"></div>
                        <span class="channel__title">Звезда</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_2"></div>
                        <span class="channel__title">Первый</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:15' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_3"></div>
                        <span class="channel__title">Россия</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_4"></div>
                        <span class="channel__title">Матч ТВ</span>
                        <ul class="channel__list">
                            {{> broadcast time='03:55' type='movie' name='Чемпион мира'}}
                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='12:00' type='sport' name='Футбол'}}
                            {{> broadcast time='13:00' type='news' name='Новости дня'}}
                            {{> broadcast time='13:15' type='news' name='Специальный репортаж'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='18:30' type='movie' name='Истребители Второй мировой войны. Фильм 2-й'}}
                            {{> broadcast time='19:20' type='movie' name='"Легенды армии" с Александром Маршалом. Виталий Попков'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
                <div class="channel">
                    <div class="channel__content">
                        <div class="channel__image channel__image_content_5"></div>
                        <span class="channel__title">Рен ТВ</span>
                        <ul class="channel__list">
x                            {{> broadcast time='06:00' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='06:45' type='series' name='Служу России!'}}
                            {{> broadcast time='07:25' type='movie' name='Александр Маленький'}}
                            {{> broadcast time='09:00' type='news' name='Новости дня'}}
                            {{> broadcast time='09:50' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='10:00' type='news' name='Военные новости'}}
                            {{> broadcast time='10:05' type='series' name='Смерть шпионам! 1-я и 2-я серии'}}
                            {{> broadcast time='13:40' type='movie' name='Оружие Победы'}}
                            {{> broadcast time='14:00' type='news' name='Военные новости'}}
                            {{> broadcast time='14:05' type='series' name='Тульский-Токарев. 5-я - 8-я серии'}}
                            {{> broadcast time='18:00' type='news' name='Новости дня'}}
                            {{> broadcast time='20:05' type='series' name='Смерть шпионам! 3-я и 4-я серии'}}
                            {{> broadcast time='22:10' type='news' name='Новости дня'}}
                            {{> broadcast time='22:30' type='talk-show' name='"Звезда на "Звезде" с Александром Стриженовым'}}
                            {{> broadcast time='23:15' type='sport' name='Бильярд'}}
                            {{> broadcast time='01:15' type='movie' name='Это начиналось так...'}}
                            {{> broadcast time='03:10' type='movie' name='Запасной аэродром'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>